<nav class="navbar navbar-light bg-light ">
    <ul class="nav nav-pills ">
    <li class="nav-item ">
    <a class="nav-link" href="#home">Home</a>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> View in Locations</a>
    <div class="dropdown-menu">
            {% for product in products %}
            <a class="dropdown-item" href="{% url 'location' pahali=location.pahali %}"><p>{{product.product}}</p></a>
            {% endfor %}
        </div>
    
        </li>